.CategoryContainer {
    max-height: 60vh;
    display: flex;
    flex-direction: wrap row;
    align-items: space-around;
    justify-content: space-around;
}

.volver{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}