.listContainer {
    display: flex;
    flex-direction: wrap row;
    align-items: space-around;
    justify-content: space-around;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
}

.volver{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}