.navbar{
    background-color: lightblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imgbar{
    margin-left: 5px;
    width: 75px;
}

.btn{
    margin: 5px;
    background-color: lightblue;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}